%h1= tutor_name(@tutor)
%h3 Email
%p= mail_to @tutor.email
- if @tutor.school.present?
  %h3 School
%p= @tutor.school
- if @tutor.subjects.present? && @tutor.subjects.size > 0
  %h3 Subject Expertise
  %ul
    - subjects(@tutor).each do |subject|
      %li= subject
- if @tutor.website.present?
  %h3 Website
  = link_to @tutor.website
- if @tutor.tutor_types.present? && @tutor.tutor_types.size > 0
  %h3 Tutoring Types
  %ul
    - tutor_types(@tutor).each do |type|
      %li= type
- if @tutor.profile.present?
  %h3 Profile
  %p= @tutor.profile
